[run]
branch = false
source = src
omit = 
    tests/*
    **/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[paths]
source =
    src/
    */site-packages/
